[user]
	name = Rhenanrk
	email = rhenan_konrad@hotmail.com
[credential]
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credencial]
	helper = wincred
	helper = rhenanrk
[credential]
	helper = wincred
